<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book Store</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body class="bgimg">
	<div>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark shift navContent">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand navTitle">Book Store</a>
				</div>
				<ul class="navbar-nav ">
					<li class="nav-item"><a class="nav-link"href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link"href="availableBooks">Available Books</a></li>
					<li class="nav-item"><a class="nav-link"href="myBook">My Books</a></li>
					
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="newBook">New Book Register</a></li>
				
				</ul>
			</div>
			
		
		</nav>
		<div class="container text-center">
			<h1 class="bhead text-primary">Welcome To Our Book Store</h1>
			<p class="btext">Online bookstores also offer a more comprehensive selection of books than physical bookstores, including rare and out-of-print titles that may no longer be available in physical stores. Furthermore, with the
			 ability to search for books by keyword, genre, author and more, finding what you are looking for is much easier.
			</p>
		
		</div>
		 
	</div>
</body>
</html>